# Caddyfile

{
    servers {
        trusted_proxies static 0.0.0.0/0 ::/0
	client_ip_headers CF-Connecting-IP X-Forwarded-For
	trusted_proxies_strict
    }
}

http:// {
    # Enable compression
    encode zstd gzip

    handle /api/* {
        reverse_proxy backend:3001
    }


    # Proxy all other requests to the client service
    handle {
        reverse_proxy client:3002
    }
}
